$dark-main: #161d27;
$white: #fff;
$gray: #d7d7d7;
$grayDark: #909090;
$yellow: #d1b06b;

$background: #161d27;
$background-cards-practic-areas: #1f2732;
$background-cards-reviews: #2e3947;
$background-about: rgba(31, 39, 50, 0.85);
$gray-line: #4e555f;

$duration: 0.15s;
